<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>OK Pedro </title>
    <link rel="stylesheet" href="static/css/okp.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin Sans&subset=latin" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body id="okpedro">
<div class="container">
    <div class="row">
        <div class="span8 offset2">
            <div id="top-container" class="box">
                <h1>OK PEDRO</h1>
                <div class="profile-container">
                <img src="static/img/pedrosmall.jpg">
                </div>
                <div>
                <div class="text-container">
                <h3 id="intro">Pedro will find someone to go on a date with you.
                    All three of you go out together. Eventually everyone dies.</h3>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide-on-success">
        <div class="span8 offset2 center-text">
            <h2>How it works</h2>
            <div class="step">
                <h3>Apply for a date <i class="icon-facebook-sign"></i></h3>
                <p>Pedro will add you on Facebook and examine your pitiful social facade.</p>
            </div>
            <div class="step">
                <h3>Chill out a bit <i class="icon-time"></i></h3>
                <p>Pedro will find a superficial match for you in this godless hellscape we call earth.</p>
            </div>
            <div class="step">
                <h3>Go on the date <i class="icon-glass"></i></h3>
                <p>Pedro will pick a bar in Austin for the three of you to meet at so you can drink enough to feel something, anything. </p>
            </div>
        </div>
    </div>
    <div class="row hide-on-success">
        <div class="span8 offset2 center-text">
            <button id="apply-button" class="btn btn-large"><span class="cross">✝</span> Apply Now <span class="cross">✝</span></button>
        </div>
    </div>


</div>
<div id="apply-dialog-background"></div>
<div id="apply-dialog" class="span6">
    <form>
        <fieldset>
            <legend>Apply for a date</legend>
            <div id="payment-errors">Enter your info and Pedro will holler</div>
            <label>Email</label>
            <input id="apply-email" type="email" name="email">
            <label>Your Facebook url</label>
            <input id="apply-facebook-url" type="text" placeholder="https://www.facebook.com/pfeitosa">
            <label>Special requests for Pedro</label>
            <div><textarea id="apply-requests" name="special-requests"></textarea></div>

            <div id="payment-explanation">
                If Pedro accepts your application, he'll set up a time and place with you over email.
            </div>


            <button id="apply-form-button" type="submit" class="btn btn-large">Apply</button>
        </fieldset>
    </form>
</div>
<script>
    window['csrftoken'] = '{{ csrf_token }}';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('{{ stripe_api_key }}');
</script>
<script src="static/js/okp.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7363929-16', 'trillworks.com');
    ga('send', 'pageview');

</script>
</body>
