<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <title>OK Pedro</title>
    <link rel="stylesheet" href="static/css/okp.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin Sans&subset=latin" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body id="okpedro">
<div class="container">
    <h2>Upcoming Dates</h2>
    <a href="/admin/okpapp/date/">Edit dates in Django Admin</a>
    <table id="date-table" class="table table-striped">
        <tr>
            <td>email</td>
            <td>facebook</td>
            <td>email</td>
            <td>facebook</td>
            <td>when</td>
            <td>where</td>
        </tr>
        {% for date in dates %}
            <tr>
                <td>{{ date.first_application.email_address }}</td>
                <td>{{ date.first_application.facebook_url }}</td>
                <td>{{ date.second_application.email_address }}</td>
                <td>{{ date.second_application.facebook_url }}</td>
                <td>{{ date.location.date }}</td>
                <td>{{ date.location.name }}</td>

            </tr>
        {% endfor %}
    </table>
    <h2>Recent Applications</h2>
    <a href="/admin/okpapp/application/">Edit applications in Django Admin</a>
    <div class="row">
        <div class="span12">


            <table id="application-table" class="table table-striped">
                <tr><td>select</td>
                    <td>email</td>
                    <td>facebook</td>
                    <td>special requests</td>
                    <td>apply date</td>
                    <td>charged</td>
                </tr>
            {% for application in applications %}
                <tr>
                    <td><input type="checkbox" data-application-id="{{ application.id }}"></td>
                    <td>{{ application.email_address }}</td>
                    <td><a href="{{ application.facebook_url }}">{{ application.facebook_url }}</a></td>
                    <td>{{ application.requests }}</td>
                    <td>{{ application.apply_datetime }}</td>
                    <td>{% if application.charged %} Yes {% else %} No {% endif %}</td>
                </tr>
            {% endfor %}
            </table>
            <button id="create-date-button" class="btn btn-large">Create Date</button>
            <button id="charge-button" class="btn btn-large">Charge Credit Card</button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/manage.js"></script>
</body>